
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
	background-color: #2c3338;
	color: #606468;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	text-align: center;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
}

p {
	line-height: 1.5em;
}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

#login {
	margin: 50px auto;
	width: 280px;
}

#login > div span {
    text-align: center;
    font-size: 1.2em;
}

#login form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input, select {
	height: 50px;
	outline:none;
	border: 0;
}

#login form input[type="email"], input[type="password"], input[type="text"], input[type="number"], select {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 198px;
}

#login form input:focus {
	color:#fff;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #00897B;
	color: #eee;
	margin-bottom: 2em;
	text-transform: uppercase;
	cursor:pointer;
	width: 248px;
}

#login form input[type="submit"]:hover {
	background-color: #00796B;
}

.clearfix p {
	text-align: center;
	padding-left: 15px;
    text-align: center;
    display: flex;
}

#login > p {
    margin-left: 25px;
}

#login > p span {
	padding-left: 5px;
}

.span_sign {
    display:inline-block;
    text-align: center;
    font-size: 1.2em;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-left: 25px;
}

#wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.2em;
    margin: 130px;
    margin-top: -25px;
    border-radius: 10px;
    background-color: #3f4950;
    display: inline-block;
    width: -webkit-fill-available;
}

#user_info span {
    float: left;
    padding-left: 15px;
    padding-bottom: 10px;
}

#user_info{
    display:inline-block;
    float: left;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    color: #9c9c9c;
}

#welcome_user {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    font-size: 1.3em;
    padding-left: 5px;
    padding-right: 5px;
}

#icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: inline-block;
    margin-left:15px;
    font-size: 1.7em;
    color: #3f4950;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.tableInfo{
    margin-left: 20px;
    display:inline-block;
    width:700px;
    vertical-align: top;
    float: right;
    margin-right: 20px;
    background-color: #2c3338;
    border-radius: 10px;
    text-align:right;
}
.tableInfo span {
    font-size: 1.2em;

}
.tableInfo table {
    margin-top: 10px;
    text-align: center;
    color: #9c9c9c;
    width: -webkit-fill-available;
}

.tableInfo table #link {
    cursor:pointer;
}

.tableInfo table th, td{
    padding: 5px; 5px;
}

.tableInfo table tr:nth-child(odd) {
    background: #3f4950;
    color: #9c9c9c;
}

#students {
    display:block;
    float:right;
    margin-top:25px;
}

#questionForm, #answerForm {
    display:inline-block;
    vertical-align: top;
}

#createQuestion {
	margin: 100px auto;
	width: fit-content;
}

#createQuestion form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#createQuestion form input{
	height: 50px;
	outline:none;
	border: 0;
}

#createQuestion form input[type="text"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 198px;
	vertical-align: top;
}

#createQuestion form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ea4c88;
	color: #eee;
	margin-bottom: 2em;
	text-transform: uppercase;
	cursor:pointer;
	width: 248px;
}

#createQuestion form input[type="submit"]:hover {
	background-color: #d44179;
}

#createQuestion > p {
	text-align: center;
}

#createQuestion > p span {
	padding-left: 5px;
}

#editTest {
    margin: 30px;
}


#testInfo, #questionInfo {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

#testInfo p, #questionInfo p{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#testInfo form input, select, #questionInfo form input{
    height:40px;
    font-size: 1.1em;
    padding: 0 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 250px;
}

#questionInfo form input[type="submit"]{
    width:35px;
    height:35px;
    font-size: 1.3em;
    border-radius: 50%;
}

#questionInfo #pEditAnswer {
    margin-top:10px;
    margin-bottom:0;
}

#deleteQuestion, #editQuestion, #editAnswer, #deleteAnswer{
    display: inline-block;
}

#question, #answer{
    display:block;
}

#answer {
    margin-left: 205px;
}

#answerForm {
    margin-left: 170px;
    margin-bottom: 10px;
}

#answer p {
    margin-top: 10px;
    margin-bottom: 0;
}

#accept{
    background-color:  #3CB371;
    color: white;
}

#decline{
    background-color: #CD5C5C;
    color: white;
}

#accept:hover, #decline:hover {
    cursor: pointer;
}

.fas fa-arrow-circle-left {
}
#back{
    font-size:2em;
    color: #606468;
    display:inline-block;
}

#add{
    font-size:1.7em;
    color: #606468;
    margin: 10px;
    display:inline-block;
    margin-bottom:-25px;
}

#testPass{
    text-align: center;
    display: inline-block;
}

#testPass > p{
    margin-top: 20px;
    font-size: 1.5em;
}

#questionTestPass {
    padding: 0px 40px;
    padding-top: 10px;
    margin: 20px;
    background-color:#343b40;
    border-radius: 10px;
    font-size: 1.3em;
    color: #b7b7b7;
}

#answerTestPass {
    display: inline-block;
    margin-right: 25px;
}

#answerTestPass p {
    display: inline-block;
}

#pagination {
    padding-top:5px;
    text-align:center;
}

#errorBlock {
    margin-top: 100px;

}

#errorBlock span {
    font-size:2.5em;
}

#errorBlock a{
    font-size:2.5em;
    text-decoration: none;
    color: #606468;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    width:300px;
    height:300px;
}

#languageForm {
    text-align: right;
    margin-top: 10;
    margin-bottom: -20;
    margin-right: 15;
}

#languageForm select {
    width: 100px;
}

#subSearch {
    text-align: left;
    margin-top: -20;
    margin-left: 12px;
}

#subSearch input {
    width:160px;
}

#pageSize input {
    width:85px;
}

#subSearch input, #pageSize input{
    border-radius: 5px;
    padding: 1px 7px;
}

#pageSize {
    text-align: left;
    margin-left: 177px;
    margin-top: -37px;
}

#complexityTestCreate {
    font-size: 1.1em;
    padding: 0 10px;
    margin-bottom: 1em;
    border-radius: 0px 3px 3px 0px;
    width:198px;
    height:50px;
}

#lockForm input{
    background-color: transparent;
    color: white;
}

#lockForm input:hover {
    cursor: pointer;
}

#deleteUpdateTest {
    background-color:#656b6f;
    color:#c8ced2;
}

#deleteUpdateTest:hover {
    cursor:pointer;
}

#clearCheck{display: inline}
.check-material {display:inline-block; padding: 10px;}
.check-material input[type="checkbox"]{display:none}
.check-material input[type="checkbox"]:checked + label{background:#009688;border-color:#009688}
.check-material input[type="checkbox"]:checked + label:after{transform:scale(1.3)}
.check-material label{display:inline-block;box-sizing:border-box;width:25px;height:25px;background:#CCC;border:2px solid #7A7A7A;border-radius:10%;position:relative;cursor:pointer;transition:.2s}
.check-material label:after{content:'';display:inline-block;height:100%;width:100%;background:url(https://cbwconline.com/IMG/Codepen/Check.svg) center center no-repeat;background-size:contain;transform:scale(0);transition:.2s}
.check-material label:active:before{background:#bfbfbf}

@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}